@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Prompt');

html,body{
    background-color: black;
    color: white;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    top: 25px;
    margin: auto;
    background:transparent;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

.quiz{
    margin: auto;
    width: 960px;
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    font-family: 'Prompt', sans-serif;
}

  h1{
      font-size: 60px;
      text-align: left;
      margin-left: 10px;
      font-family: 'Kaushan Script', cursive;
      /* font-family: 'Prompt', sans-serif; */
      font-weight: bold;
    }

.buttons{
    margin-left: 50px;
}

a{
    color: white;
    text-decoration: none;
}

button.w3-button{
    background-color:transparent;
    border-color: white;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

button.quizbutton{
    text-align: right;
    background-color:black;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

button.quizbutton:hover{
    background-color: silver;
    color:black;
}

button.w3-button:hover{
    background-color: silver;
    color:black;
}

  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }